.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #226280;
    border-bottom: 3px solid #0c2436;
    .right-actions {
        display: flex;
        .right-action {
            margin: 18px;
            cursor: pointer;
            transition: 0.2s;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #ccc;
            }
        }
    }
    .header-logo {
        margin: 16px;
    }
    a {
        transition: 0.2s;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        &:visited {
            color: #fff;
            text-decoration: none;
        }
        &:hover {
            color: #ccc;
        }
    }
}