.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #263238;
    .right-actions {
        display: flex;
        .right-action {
            margin: 16px;
            cursor: pointer;
            transition: 0.2s;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #ccc;
            }
        }
    }
    .header-logo {
        margin: 16px;
    }
    a {
        transition: 0.2s;
        color: #fff;
        text-decoration: none;
        &:visited {
            color: #fff;
            text-decoration: none;
        }
        &:hover {
            color: #ccc;
        }
    }
}