.tracker-preview {
    border: 2px solid #1a206d;
    border-radius: 7px;
    padding: 8px;
    background-color: #fff;
    margin: 16px;
    display: flex;
    justify-content: space-between;
    .left-container {
        .name {
            margin: 8px 0px;
        }
        .url {
            margin: 8px 0px;
        }
        button {
            transition: 0.25s;
            padding: 4px 18px;
            color: #fff;
            border-radius: 4px;
            background-color: #2f8ab5;
            border: 1px solid #2f8ab5;
            cursor: pointer;
            &:hover {
                background-color: #5db4d2;
                border-color: #5db4d2;
            }
            &.remove {
                background-color: #d13928;
                border: 1px solid #d13928;
                &:hover {
                    background-color: #eb2009;
                    border-color: #eb2009;
                }
            }
        }
        .alert-price {
            .alert-price-range {
                width: 250px;
            }
            span::after {
                content: '€';
            }
        }
    }
    .right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-width: 200px;
        .current-price {
            font-size: 22px;
            font-weight: 600;
        }
        .lowest-price, .highest-price {
            font-size: 16px;
            font-weight: 400;
        }
    }
}